* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#intro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    cursor: progress;
}

h2 {
    color: aqua;
    background-color: black;
}

#intro:hover {
    color: blue;
}